:root {
    --theme-light: white;
    --theme-dark: tomato;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--theme-light);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    padding-top: 120px;
    padding-left: 50px;

    overflow: hidden;
}

#brand {
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: fixed;
    top: 50px;
    left: 50px;

    opacity: 0;
    animation: reveal-top 5s cubic-bezier(0.19, 1, 0.22, 1) 2.75s forwards;
}

#brand img {
    width: 75px;
    height: 75px;
}

#brand span {
    color: var(--theme-dark);
    font-weight: 600;
    font-size: 22px;
}

#brand span span {
    color: black;
}

#buttons-wrapper {
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    position: fixed;
    top: 50px;
    right: 50px;

    opacity: 0;
    animation: reveal-top 5s cubic-bezier(0.19, 1, 0.22, 1) 2.75s forwards;
}

#buttons-wrapper button {
    all: unset;
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--theme-dark);
    font-size: 14px;

    border-radius: 5px;
    border: 1px solid var(--theme-dark);

    cursor: pointer;
}

#buttons-wrapper button:active {
    background: var(--theme-dark);
    color: var(--theme-light);
}

#dashboard-content {
    width: 50vw;
    text-align: left;
    line-height: 1.7;

    position: relative;
}

#dashboard-content #title {
    font-size: 50px;
    font-weight: 600;
    overflow: hidden;
}

#dashboard-content #title span span {
    color: var(--theme-dark);
    font-size: 60px;
}

#dashboard-content #title span {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(-100%);
    opacity: 0;
    animation: reveal-title 5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes reveal-title {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#dashboard-content #info {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

#dashboard-content #info p {
    display: block;
    transform: translateX(-100%);
    opacity: 0;
    animation: reveal-info 5s cubic-bezier(0.19, 1, 0.22, 1) 1.5s forwards;
}

@keyframes reveal-info {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes reveal-top {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#customize-form{
    width: 380px;
    min-height: 450px;
    height: auto;
    padding: 25px;
    background: rgba(128, 128, 128, 0.05);
    border-radius: 5px;
    border: 1px solid var(--theme-dark);

    position: fixed;
    top: 120px;
    right: 50px;
}

#customize-form h2{
    color: var(--theme-dark);
}

form label{
    color: darkgray;
    font-size: 14px;
    margin-top: 20px;
}

form div{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

form #theme-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

#theme-options .option{
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid lightgray;

    cursor: pointer;
}

.option .color1, .option .color2{
    height: 50%;
    width: 100%;
}

#theme-options .option:nth-child(1) .color1{
    background: rgb(238, 238, 238);
}
#theme-options .option:nth-child(1) .color2{
    background: darkslategray;
}
#theme-options .option:nth-child(2) .color1{
    background: papayawhip;
}
#theme-options .option:nth-child(2) .color2{
    background: darkred;
}
#theme-options .option:nth-child(3) .color1{
    background: lightcyan;
}
#theme-options .option:nth-child(3) .color2{
    background: darkcyan;
}
#theme-options .option:nth-child(4) .color1{
    background: rgb(225, 255, 225);
}
#theme-options .option:nth-child(4) .color2{
    background: darkgreen;
}
#theme-options .option:nth-child(5) .color1{
    background: white;
}
#theme-options .option:nth-child(5) .color2{
    background: tomato;
}

#theme-options .clicked{
    border: 2px solid black;
}

input[name='theme']{
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}

form #dropdown{
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0px 10px;
}

form input[name='font']{
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}

form button{
    all: unset;

    margin-top: 15px;

    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--theme-dark);
    font-size: 14px;

    border-radius: 5px;
    border: 1px solid var(--theme-dark);

    cursor: pointer;
}

form button:active {
    background: var(--theme-dark);
    color: var(--theme-light);
}